form{
    background-color: rgb(68, 218, 143);
    width: 500px;
    margin-left: 380px;
    margin-top: 20px;
    align-items: center ;
    text-align: center;
    margin-bottom: 20px;
}
.btn{
    margin-bottom: 10px;
}